@charset "utf-8";

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
button,
article,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
    font-size: 16px;
}

input,
select,
textarea {
    font-size: 100%;
}

/* i不斜体 */
i {
    font-style: normal;
}

/* 去除默认边框 */
fieldset,
img {
    border: none;
}

/* 去掉列表前的标识，li 会继承 */
ol,
ul {
    list-style: none;
}

li {
    list-style: none;
}

/* 默认不显示下划线，保持页面简洁 */
a {
    text-decoration: none;
}

/* 去除 ie6 & ie7 焦点点状线 */
a:focus,
*:focus {
    outline: none;
}